ul{
list-style-type:none;    
}
a{
    text-decoration: none;
    
}
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #1F2937;
}
.main{
    display: flex;
    justify-content: center;
}
/*header*/
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
.header-links ul{
    display: flex;
    gap: 30px;
    
}
.header-links ul li a{
    color: white;
}
.logo{
    
    height: 70px;
}
/* /header*/

/* cont-one*/
.cont-one{
    display: flex;
    padding: 50px;
    gap: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.image-one{
    width: 400px;
    height: auto;
    
} 

/* /cont-one*/
/* left-side*/
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.left-side button{
    background-color: #3882f6;
    border-radius: 3px;
    border-color: transparent;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.left-side p{
    font-size: 20px;
    color: white;
    
}
.left-side h1{
    font-size: 50px;
    color: white;
    margin-top: 0px;
    
}

/* /left-side*/

/*cont-two*/
.cont-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 100px;
    gap: 50px;
}
.boxes{
    display: flex;
    gap: 50px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.empty-box{
    border-color: #3882f6;
    border-radius: 15px;
    background-color: #1F2937;
    width: 150px;
    height: 150px;
}
.box-text{
    width: 140px;
    text-align: justify ;
}
.cont-two h1{
    font-size: 36px;
    font-weight: 800;
}

/* /cont-two*/

/*cont-three*/
.cont-three{
    background-color: rgb(217, 214, 214);
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote{
    font-size: 36px;
    font-style: italic;
    width: 700px;
    text-align: center;
}

.cont-three caption{
    font-weight: 700;
    font-size: 100px;
}

/* /cont-three*/


/* cont-four*/

.cont-four{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 100px;
    
}
.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blue-box{
    background-color: #3882f6;
    height: 150px;
    width: 700px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}
.cont-four button{
    height: 40px;
    width: 70px;
    background-color: transparent;
    border-color: white;
    border-radius: 3px;
}



/* /count-four*/

/*footer*/
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p{
    color: white;
}
/* /footer*/